*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
*:focus{
    outline: 0;
}
.screenM{
    display: none;
}
ul{
    list-style-type: none;
}
a{
    cursor: pointer;
}
/* header */
.header{
    max-width: 1500px;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: 100px;
    backdrop-filter: blur(10px);
    background-image: linear-gradient( rgba(0,0,0,0.45),rgba(0,0,0,0.25),transparent );
    color: #fff;
    position: fixed;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
}
.header_left{
    margin-left: 3vw;
}
.header_right{
    font-weight: bold;
    margin-left: auto; 
    display: flex;
    margin-right: 5vw;

}
.header_right li{
    margin: 15px;
    cursor: pointer;

}
.logo img{
    object-fit: cover;
    height: 21px;
    cursor: pointer;
}
.hamburger {
    position: absolute;
    right: 45px;
    top: 13%;
    transform: translate(-50%,-46%);
}
p.hamburger img {
    height: 30px;
}

/* search section */
.mlocation,.mlocationText,.mlogo{
    display: none;
}
.screenL{
    display: inline-block;
}
.search_panel{
    max-width: 1500px;
    background-color: #0d57cdde;
    height: 600px;
    width: 90vw;
    margin: 0 auto;
    position: relative;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: url(https://c.housingcdn.com/demand/s/client/common/assets/buyCover.129f629e.jpg) center / cover;
    background-size: 100% 100%;
}

.search_section{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.search_section_title{
    margin: 20px 0;
    font-size: 32px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 51%);
    color: #fff;
    font-weight: bold;
}
.search_container{
    padding: 10px;
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.search_container form{
    width: 70vw;
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search_container select,.search_container input{
    border: none;
    padding: 10px;
}
.search_container button{
    color: #fff;
    background-color: #36c991;
    border: none;
    padding: 10px 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.search_container .input_box{
    flex:2
}
.search_container input{
    width: 100%;
}

/* categories */
.content{
    background-color: rgb(223, 227, 233);
}
.categories{
    margin: 0 auto ;
    padding: 50px 0;
    width: 70vw;
    max-width: 1300px;

}

.categoryHeader{
    display: flex;
    align-items: center;
}
.category_title{
    font-size: 30px;
    margin-right: 15px;
}
.categoryHeader button{
    padding: 4px 16px;
    color: #03016f;
    border: 1px solid rgb(1 9 111);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.category_box{
    height: 120px;
    width: 100px;
    background-color: #fff;
    position: relative;
    margin: 6px;
    flex: 1 0 12%;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.category_box:hover{
    box-shadow: 0 1px 9px 6px rgb(0 0 0 / 15%);
    cursor: pointer;
}
.category_box:hover .category_image{
    color: rgb(0 0 0 / 82%);
}
.right_arrow,.left_arrow{
    cursor: pointer;
    box-shadow: 0 4px 8px 2px rgb(0 0 0 / 25%);
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    z-index: 100;
}
.right_arrow{
    transform: translate(50%,-50%);
    background: url(https://cdn-icons-png.flaticon.com/512/664/664866.png);
    right: 0;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    background-position-x: center;
    background-position-y: center;
}
.left_arrow{
    display: none;
    transform: translate(-50%,-50%);
    left: 0;
    background: url(https://cdn-icons-png.flaticon.com/512/3183/3183354.png);
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-color: #fff;
    border-radius: 50%;
    background-position-x: center;
    background-position-y: center;
}
.carousel{
    position:relative;
}
.category_tiles{
    margin: 30px 0;
    display: flex;
}
.cards{
    overflow: hidden;
}
.category_image {
    word-break: break-word;
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 17px;
    color: #5a5a64;
    font-weight: bold;
}
.category_image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* recently added */
.recently_added_card {
    flex: 1 0 26%;
}

.recently_added,
.featured_project,
.news_project{
    margin: 30px auto 50px;
    padding: 0 0 50px ;
    width: 70vw;
    max-width: 1300px;
}
.recently_added_header,
.featured_project_header,
.news_project_header{
    margin: 10px 0 20px;
}
.recent_added_title,
.featured_project_title,
.news_project_title
{
    font-size: 30px;
}
.recent_added_subtitle,
.featured_project_subtitle,
.news_project_subtitle
{
    margin: 10px 0 30px;
    color: #5a5a64;
}
.recently_added_cards,
.featured_project_cards,
.news_project_cards
{
    display: flex;
}
.recently_added_card,
.featured_project_card,
.news_project_card 
{
    cursor: pointer;
    margin-right:  20px;
}
.card{
    transform: translateX(0px);

}
.recently_added_card img,
.featured_project_card img,
.news_project_card img
{
    height: 170px;
    width: 100%;
    background-color: #5a5a64;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;;
}
.recently_added_card .card_title, 
.featured_project_card .card_title,
.news_project_card .card_title
{
    font-weight: bold;
}

.recently_added_card button,
.featured_project_card button,
.news_project_card button
{
    cursor: pointer ;
    color: #fff;
    background-color: #1bd58e;
    border: none;
    padding: 10px 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.featured_project_card,
.news_project_card
{
    flex: 1 0 32%;
}
.featured_project_card img,
.news_project_card img
{
    width: 100%;
    border-radius: unset;
}
/* featured project */
.featured_project_card {
    border: 1px solid #cfc4c4;
}
.featured_project_card .card_details{
    margin-left: 20px;
    margin-top: 10px;
}
.featured_project_cards .card_title1{
    font-weight: bold;
    font-size: 18px;
    
}
.featured_project_cards .card_title2{
    font-size: 13px;
    margin-bottom: 10px;
}
/* news  */
.news_project_card img{
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.news_project_card:hover .card_title{
    color: #03016f;
}
.news_project_card:hover .card_subTitle{
    color: #000;
}

.news_project_card .card_subTitle{
    margin-bottom: 15px;
    color: #5a5a64;
}
.author{
    font-size: 12px;
    margin-bottom: 10px;
    color: #5a5a64;
    display: flex;
    justify-content: space-between;
}
.card_title{
    font-size: 18px;
    margin: 7px 0;
}
.card_subTitle{
    font-size: 15px;
}
.main_subTitle{
    color: #5a5a64;
}
.card_price{
    margin: 15px 0;
    font-size: 20px;
    font-weight: bold;
}

/* footer */
.footer{
    background: #000;
    color: #fff;
}
.footer .footerwrap{
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    padding:50px 0px 10px;
    width: 90vw;
    margin: 0 auto;
    flex-wrap: wrap;
}
.toRentLocation{
    width: 90vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    overflow-x: auto;
}
.toRentLocation div {
    flex: 0 1 14%;
    margin: 20px;
}
.toRentLocation div p {
    white-space: nowrap;
    font-size: 14px;
    color: #333;
}
.footerwrap > .Col{
    margin: 0 auto;
    margin-left: 0;
}
.footerwrap > .Col p{
    margin-left: 0;
}
.Col p:first-child{
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 13px;
}
.Col p:not(:first-child){
    color: rgb(130, 119, 119);
    
}
.Col p{
    margin: 0px auto 20px;
    width: max-content;
    margin-left:0 ;
}
.mentions img{
    object-fit: cover;
    height: 60px;
    cursor: pointer;
}

.footerSection{
    display: flex;
    justify-content: space-between;
    flex: 0 1 50%;
    flex-wrap: wrap;
}
.footerSection > .Col{
    flex: 1 1 25%;
}
.Col p img{
    margin-right: 10px;
}
.Col p:hover{
    color: #fff;
}
.store{
    height: 30px;
}
.scanQR{
    display: flex;
}
.scanQR img{
    height: 100px;
}
.scanQR span{
    width: 100px;
}
/* mobile location overlays */
.mplaces{
    display: none;
}
.cross{
    color: #fff;
    align-items: center;
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #5e23dc;
    font-size: 25px;
    position: fixed;
}
.overlay_leftArrow{
    height: 22px;
    margin: 0 20px;
}
.mplaces .content{
    background-color: #d7d8de;
    padding: 24px 16px;
    margin-top: 60px;
}
.gpsIcon img{
    height: 17px;
}
.searchBar{
    align-items: center;
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    width: 87vw;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}
.msearch{
    flex: 1 0 33%;
    border: none;
    margin: 0 12px;
}
.mpopularCities {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.mPopularCityTitle,.mOtherCities{
    margin: 10px 22px;
    color: #5a5a64;
}
.mpopularCities p {
    
    display: flex;
    align-items: center;
    flex: 1 1 34%;
    margin: 0 10px 10px;
    background-color: #fff;
    padding: 20px 20px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.mPopularCitiesCard img{
    margin: 0  20px 0 5px  ;
}
.mOtherCitiesList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 10px 10px;
}
.mOtherCityCard{
    color: #333;
    flex: 1 1 34%;
    margin: 0 10px 10px;
}
/* quick nav  */
.quickNavOverlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #383333;
    opacity: 0.5;
    right: 0;
    top: 0;
    display: none;
}
.quickNavContent {
    display: none;
    width: 60vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}
.quickLinks p {
    margin: 20px;
    word-break: keep-all;
}
@media screen and (max-width:1023px){
    .search_panel{
        height: 400px;
    }
    .header,.search_section_title,.d_view{
        display: none;
    }
    .mlogo{
        display: block;
        left: 50%;
        top: 25%;
        transform: translateX(-50%);
        position: absolute;
    }
    .mlocation{
        display: flex;
        left: 15%;
        top: 10%;
        transform: translateX(-50%);
        position: absolute;
        padding: 10px ;
        backdrop-filter: blur(22px);
        background: rgba(0,0,0,.35);
        border-radius: 52px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        opacity: .87;
    }
    .mapMarker{
        margin-right: 10px;
        height: 16px;
    }
    .down_Arrow{
        margin-left: 10px;
        height: 16px;
    }
    .mlocationText{
        display: block;
        left: 50%;
        top: 35%;
        transform: translateX(-50%);
        position: absolute;
        font-size: 20px;
        text-shadow: 1px 1px 1px rgb(0 0 0 / 51%);
        color: #fff;
        font-weight: bold;
    }
    .mlocationText .userlocation{
        border-bottom: 1px dashed #fff;
    }
    .footerwrap > .Col ,.footerSection , .social {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
    .Col p{
        margin-left: 0;
    }

    .screenL{
        display: none;
    }
    .search_container form{
        width: 85vw;
    }
    .screenM{
        display: inline-block;
    }
    /* header  */
    .header,.search_panel{
        width: 100vw;
    }

    .search.screenM button{
        padding: 10px 15px;
    }
    
    /* carousel  */
    
    .categories{
        width: 92vw;
    }
    .right_arrow,
    .left_arrow{
        display: none;
    }
    .categoryHeader{
        justify-content: space-between;
    }
    .category_tiles{
        flex-wrap: wrap;
    }
    .category_box{
        margin: 2px;
        flex: 1 1 20%;
    }
    .category_image{
        font-size: 12px;
    }

    .recently_added, .featured_project, .news_project{
        width: 90vw;
    }
    .recently_added_cards,
    .featured_project_cards,
    .news_project_cards
    {
        overflow-x: auto;
        padding-bottom: 15px;
    }
    .mplaces{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        height: 100vw;
        width: 100vw;
        
    }
}
@media screen and (max-width:768px) {
    .header_right{
        display: none;
    }
    .recently_added_card, .featured_project_card, .news_project_card{
        flex: 1 0 50vw;
    }
    .Col{
        margin-left:10px ;
        margin-right:10px ;
    }
    .footer .footerwrap{
        justify-content: space-evenly;
        
    }
    .footerSection{
        overflow-x: auto;
        flex-wrap: nowrap;
        padding: 20px 0;
    }
    
}
@media screen and (max-width:560px) {
    .recently_added_card, .featured_project_card, .news_project_card{
        flex: 1 0 60vw;
    }
}
@media screen and (max-width:420px) {
    .recently_added_card, .featured_project_card, .news_project_card{
        flex: 1 0 80vw;
    }
}
